<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registracija</title>
</head>

<body>
    <h2>Registracija</h2>
    <p>Unesite Korisnicko ime</p>
    <input type="text">
    <p>Unesite ime</p>
    <input type="text">
    <p>Unesite prezime</p>
    <input type="text">
    <p>Unesite lozinku</p>
    <input type="password" name="password" id="id">
    <br>
    <button>Potvrdi</button>
    </div>
</body>

</html>