<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gladan Sam</title>
    <link rel="stylesheet" th:href="@{css/home.css}" />
</head>

<body>

    <div class="container">
        <h2>Prijavi se</h2>
        <form action="">
            <input type="text" name="username" id="username" placeholder="username">
            <input type="password" name="pass" id="pass" placeholder="password">
            <div class="btns">
                <button type="submit">Prijavi se</button>
                <a th:href="@{/registration}"><button type="button" id="sign-up">Registruj se</button></a>
            </div>
        </form>
    </div>
</body>

</html>